.card4x5 {
  user-select: none;
  width: 400px;
  aspect-ratio: 4 / 5;
  background-color: #fdfdfd;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.darkCard4x5 {
  user-select: none;
  width: 400px;
  aspect-ratio: 4 / 5;
  background-color: #3b3b3b;
  color: #fdfdfd;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
