.card4x5 {
    user-select: none;
    width: 400px;
    aspect-ratio: 4 / 5;
    background-color: #fafafa;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    overflow: hidden;
}
