.todoSearch {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchWrap {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
}
.input {
    width: 90%;
    height: 100%;
    border: 0.5px solid #ededed;
    box-sizing: border-box;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}
.button {
    background-color: #ef842e;
    border: 0.5px solid #ef842e;
    color: white;
    height: 100%;
    border: none;
    padding: 15px;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    line-height: 0;
}
