.header {
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
}
.top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.darkMode {
    position: absolute;
    right: 10px;
    top: 8px;
}
.bottom {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
}
.bottom button {
    flex: 1;
    box-sizing: border-box;
    border: none;
    position: relative;
}
.bottom button.selected {
    color: #50a2ff;
    font-weight: bold;
}
.bottom button.selected::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 70%;
    border-bottom: 2px solid #50a2ff;
}

.appName {
    font-weight: bold;
    font-size: 1.1rem;
}
