@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

#root {
    font-family: 'Pretendard';
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
}

button {
    font-size: 0.9rem;
    padding: 20px;
    color: #0a0a0a;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: block;
    padding: 2px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
